<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>64315005239-hablsq7j0mmtbletr8664oplq7hlmejq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64315005239-hablsq7j0mmtbletr8664oplq7hlmejq</string>
	<key>API_KEY</key>
	<string>AIzaSyDTotmqvAB1h9uV5sGK3_UqH2Fs-iNfRrE</string>
	<key>GCM_SENDER_ID</key>
	<string>64315005239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gustavwww.Klassen</string>
	<key>PROJECT_ID</key>
	<string>klassen-f6ffb</string>
	<key>STORAGE_BUCKET</key>
	<string>klassen-f6ffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:64315005239:ios:c926525de90cf7f1</string>
	<key>DATABASE_URL</key>
	<string>https://klassen-f6ffb.firebaseio.com</string>
</dict>
</plist>